<html>
    <head>
        <title> Axios </title>

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

        <script>
            function sendForm(){
                var form = document.getElementById("form_info");
                console.log( form );


                // var result = form.checkValidity();
                // if ( !result ){
                //     form.reportValidity();

                //     return false;
                // }
                console.log( form.name.value );

                axios({
                    method: "get",
                    url: "http://localhost:8080/receive",
                    params: {
                        name: form.name.value,
                        gender: form.gender.value,
                        birthday: form.year.value + form.month.value + form.day.value
                    }
                })
                .then(( a )=>{ return a.data;}) //promise then에서 return하면 다음 then으로 넘어간다.
                .then(( d ) => {
                    alert( d.message );
                });
            }
        </script>
    </head>

    <body>
        <form id="form_info"> 
            <label>
                이름 
            <input type="text" name="name" placeholder="이름">
            </label> <br>
                성별 
            <input type="radio" name="gender" id="gender_1" value="남">
            <label for="gender_1">남</label>
            <input type="radio" name="gender" id="gender_2" value="여">
            <label for="gender_2">여</label> <br>

                생년월일
            <select name="year">
                <% for (var y = 1950; y < 2023; y++ ) {%>
                    <option value="<%=y%>"><%=y%>년</option>
                <%}%> 
            </select>
            <select name="month">
                <% for (var m = 1; m < 13; m++ ) {%>
                    <option value="<%=m%>"><%=m%>월</option>
                <%}%> 
            </select>
            <select name="day">
                <% for (var d = 1; d < 32; d++ ) {%>
                    <option value="<%=d%>"><%=d%>일</option>
                <%}%> 
            </select> <br>
            <button type="button" onclick="sendForm()">회원가입</button>
        </form>
    </body>
</html>